#alert {
    position: fixed;
    bottom: 0px;
    right: 0px;

    z-index: 9001;
}

.accordion-item .input-group .input-group-text:first-child {
    text-align: right;
    min-width: 200px;
    display: inline-block;
}
