body {
    overflow-y: scroll;
}
a.website:before {
    content: '';
    position: relative;
    top: 0;
    left: -2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../assets/pop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#alert {
    position: fixed;
    bottom: 0px;
    left: 0px;

    z-index: 9001;
}

#config_form .input-group .input-group-text:first-child {
    text-align: right;
    min-width: 300px;
    display: inline-block;
}
.accordion-item .input-group .input-group-text:first-child {
    text-align: right;
    min-width: 200px;
    display: inline-block;
}

#updater {
    position: absolute;
    top: 0px;
    right: 0px;
}
#updater.updating {
    position: fixed;
}

.loading,
.accordion-item {
    position: relative;
}
.loading:after,
.accordion-item.disabled:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
    content: '';
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

#extension_details_view .card {
    font-size: 12px;
}
#layout_title {
    width: 500px;
    display: inline-block;
}
#layout_icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: contain;
}
#layout_additional p { margin: 0px; }

th .form-check {
    margin-bottom: 0px;
    min-height: 0rem;
}

.datetimepick {
    position: relative;
}
.datetimepick:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: '';
}
